<p>
	<%= image_tag comment.user.profile.avatar.url(:thumb) %> <b><%= comment.user.profile.name %> <i><%= time_ago_in_words(comment.created_at) %> ago</i>:</b><br />
	<%= comment.content %>
	<% if current_user.admin? || comment.user_id == current_user.id %>
	<br />
	<%= link_to 'Delete', project_comment_path(:project_id => @project, :id => comment), :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
</p>